body{
	background-color:black;
}
*{
	color:white;
}
.title{
	font-family:"Comic Sans MS";
	font-size:72px;
}
img
{
padding-top:0px;
padding-bottom:0px;
padding-right:0px;
padding-left:0px;
}
.main{
	font-family:"Comic Sans MS";
	font-size:12px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:0px;
}
#pizzaImage:hover{
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}
input{
	color:black;
}
.storeIcon{
	height:50px;
	width:50px;
}
.news{
	position:absolute;
	width:280px;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	background-color:#fff;
	background-color:rgba(255,255,255,0.75);
	border-radius:18px;
	color:black;
}